@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
}


h1, h2, h3, h4, h5, h6 {
    color: #444;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1em;
    flex: 0 0 20%; /* Adjust the width as needed */
    margin: 0;
    text-align: left;
    font-weight: bold;
    padding-right: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

h4, h5 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

section p {
    flex: 1;
    margin: 0;
    padding: 0;
}

/* Profile section */
.profileText {
    text-align: center;
    margin-bottom: 20px;
}

.profileText h1 {
    margin: 0;
    border-bottom: 2px solid #333;
}

.profileText p {
    text-align: justify;
    margin-bottom: 10px;
}

/* Contact Info section */

.profileText ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if they exceed the container width */
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.profileText li {
    margin-right: 10px;
}

.profileText a {
    color: #333;
    text-decoration: none;
    display: flex;
}

.profileText .icon {
    margin-right: 12px;
}

/* Education section */
.education .educ {
    margin-bottom: 20px;
}
.education .school, .educLevel {
    font-weight: bold;
}

/* Work Experience section */
.work-experience .experience {
    margin-bottom: 20px;
}

.work-experience .experience .com, .compos{
    font-weight: bold;
}

.work-experience .year-description p {
    margin: 5px 0;
    text-align: justify;
}

/* Skills section */
li.skill-cat {
    font-weight: bold;
}

.skill-list p {
    margin-bottom: 1pt;
}

/* Resume footer styles */
footer.resume-footer {
    text-align: center;
    margin: 20px;
}

footer.resume-footer button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer.resume-footer button:hover {
    background-color: #218838;
}

/* Media queries */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}
